@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

button {
  cursor: pointer;
}
@layer {
  .btn {
    @apply text-white    duration-150;
  }
  .btn-explore {
    @apply absolute top-[60%] left-[50%] text-white font-semibold text-xl bg-black rounded-full p-6 hover:px-8 cursor-pointer duration-200 -translate-[50%] max-md:text-lg max-md:p-3;
  }
  .error {
    @apply text-red-500  text-sm;
  }
}
.background-edit {
  background-repeat: no-repeat;
  background-size: cover;
}
.cart-shadow {
  box-shadow: 0 0 13px 0px #00000057;
}
.hero {
  background-image: url(/online-shopping-concept.jpg);
  background-position: center;
}
.contact-hero {
  background-image: url(/contact-cover.webp);
  background-position: center;
}
.about-hero {
  background-image: url(/about-cover.jpg);
  background-position: center;
}
.profile-hero {
  background-image: url(/dashboard-cover.jpg);
  background-position: center;
}
.men {
  background-image: url(/men-cover.jpg);
  background-position: center;
}
.women {
  background-image: url(/women-cover.jpg);
  background-position: center;
}
.jewelery {
  background-image: url(/jewelry-cover.jpg);
  background-position: center;
}
.elecreonics {
  background-image: url(/elect-cover.jpg);
  background-position: center;
}

.btn:hover {
  color: rgb(107, 107, 193);
  background-color: transparent;
}
.active {
  color: rgb(107, 107, 193);
}
